<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <style>
        body {
        display: -ms-flexbox;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
        }
        .sign-up{
        padding-top: 100px ;
        text-align: -webkit-center;
        display: block;
        }
        .sign-up form h1{
        font-size: 25px;
        margin-bottom: 20px;
        }
        .sign-up form input{
        display: block;
        margin: 0px;
        height: 2rem;
        width: 250px;
        }
        .button{
        margin: 15px;
        padding: 5px;           
        }
        h1 {
        font-size: 25px;
        font-weight: 0;
        }
        .secret {
        padding-top: 10px ;
        text-align: -webkit-center;
        display: block;
        }
  </style>
  <title>Mongo File Uploads</title>
</head>
<body>
    <div class="sign-up" >
        <form action="/" method="post">
            <h1>Please Sign-up</h1>
            <input type="text" name="fName" placeholder="First Name" required autocomplete="off">
            <input type="text" name="lName" placeholder="Last Name"  required autocomplete="off">
            
            <input type="text" name="email" placeholder="Email" required autocomplete="off">
            <input type="text" name="password" placeholder="password"  required autocomplete="off">
            <input type="submit" value="Submit" class="btn btn-primary button" style="margin:10px; padding: 4px;">
        </form>
        <a href="/login"><button class="btn btn-primary button" style="margin:10px; padding: 4px;">Sign-in</button></a>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>

